body {
  margin: 0;
  padding: 0;
}

h1 {
  color: green;
  text-transform: uppercase;
}

#top {
  background: green;
  border-bottom: 2px solid yellow;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#soon {
  margin: 0 auto;
  text-align: center;
  display: none;
}

#display {
  background: yellow;
  height: 200px;
  width: 50%;
  margin-right: 20px;
  float: right;
  padding: 10px;
}

#display h3 {
  text-align: center;
}
